
.section-quality{
   margin-top: 10px;   
}
.quality{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center; 
    flex-wrap: wrap;
}
.small img{
    height: 80px;
    width:  80px;
}
.small h5{
    margin-top: 10px;
    font-size: 30px;
}
.small p{
   margin-top: 10px; 
}