
.section-quality{
   margin-top: 10px;   
}
.quality{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
    flex-wrap: wrap;
    padding: 20px;
    
}
.small{
    width: 220px;
}
.small img{
    height: 80px;
    width:  80px;
}
.small h5{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.small p{
   margin-top: 8px; 
   text-align: center;
}